<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
                android:name="com.stefang.image.source.api.camera.CameraActivity"
                android:exported="false"
                android:theme="@style/Platform.MaterialComponents" />
    </application>

</manifest>
